<h2 style="text-align:center">
       Suggested Recipes
</h2>
<hr>
<h2 style="text-align:center">
			 
  <%= recipe.name %>
</h2>
<div style="text-align:center">
   <div class="feedsContainer">
    <h5 class="header" style="display:inline-block;">Feeds:</h5>
    	<p>
    		<%= recipe.feeds %>
  	</p>
  </div>
   <div class="timeContainer">
    <h5 class="header" >Time:</h5>
    	<p>
    		<%= recipe.time %> Minutes
  	</p>
  </div>

  <div class="costContainer" >

    <h5 class="header">Cost:</h5>
    <p>
    	<%= recipe.cost %>
  	</p>
  </div>


  <div class="skillContainer">


    <h5 class="header">Skill Level:</h5>
    <p>
    <%= recipe.skill %>
  </p>
  </div>
</div>

<p id="general_pads" style="text-align:center">
  <strong class="header">Culture:</strong>
  <%= recipe.culture %>
</p>


<div class="ingredientContainer">
	<h5 class="header">Ingredients:</h5>
  	<ol>
	  <%recipe.ingredients.each do |ingredient| %>
	  	<li><%=ingredient.name%> 
	  		<%=ingredient.quantity%>
	  		<%=ingredient.quantity_description%>
	  		<%=ingredient.description%>
	  	</li>
	  <%end%>
	</ol>
</div>

<div class="stepContainer">
  <h5 class="header">Steps:</h5>
  <ol>
  <%recipe.steps.each do |step| %>
  	<li><%=step.description%></li>
  <%end%>
 </ol>
</div>
<div id="general_pads" style="text-align:center">
  <strong class="header">Dietary Considerations:</strong>
  <p>
    <%= recipe.options %>
  </p>
</div>
<hr>
<div class ="sourceContainer">
	 <%= recipe.source %>
   <!-- <%= recipe.owner_id %> this was a test -->
</div>