<div id="main">


	<div class="onoffswitch">
	    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked onchange="formChange(this)">
	    <label class="onoffswitch-label" for="myonoffswitch">
	        <span class="onoffswitch-inner"></span>
	        <span class="onoffswitch-switch"></span>
	    </label>
	</div>



	<div id="optionsa">
		<%= form_tag({controller: "recipes", action: "forma"}, remote: true ) do%>
		<h4>Select Culture:</h4>
	 		<% @cultures.each do |o| %>
		  			<%file = image_tag(o+".png",:height=>32)%>
		  			<div style="display:inline-block;padding:2%; ">
			  			 <%=file%>
	 		 			<input name="culture[]" class="<%=o%>" type="checkbox" value="<%=o%>" onclick="$(this).submit();"/>
		 		 		<p style="font-size:10px; text-align:center"><%=o%></p>
		 		 	</div>
	 		<%end%>
	 	<hr>
	 	<h4> Dietary Preferences</h4>
			<% @options.each do |o| %>
					<span style="font-size:10px;"><%=o%></span>
	 		 		<input name="options[]" class="<%=o%>" type="checkbox" value="<%=o%>" onclick="$(this).submit();"/>
	 		<%end%>
	 		

	 		<br>
		  <% submit_tag("Find Me Recipes", class:"btn btn-success") %>
		<% end %>


	</div>

	<div id="optionsb" style="display:none">
		<%= form_tag({controller: "recipes", action: "formb"}, method: "post", remote: true) do%>

		<h4>Select Ingredients:</h4>
		  <% @meat.each do |o| %>
		  		<div style="display:inline-block;">
		  			<%file = image_tag(o+".png", :height=>32)%>
		  			 <%=file%>
	 		 		<input name="name[]" class="<%=o%>" type="checkbox" value="<%=o%>" onclick="$(this).submit();"/>
	 		 		<p style="padding-left:7%;font-size:10px;"><%=o%></p>
	 		 	</div>
	 		<%end%>
	 		<hr>
	 		<% @vegetables.each do |o| %>
	 			<div style="display:inline-block">
		  			<%file = image_tag(o+".png",:height=>32)%>
		  			<%=file%>
	 		 		<input name="name[]" class="<%=o%>" type="checkbox" value="<%=o%>" onclick="$(this).submit();" /> 
	 		 		<p style="padding-left:7%;font-size:10px;"><%=o%></p>
	 		 	</div>
	 		<%end%>
	 		<hr>
	 		<p><strong>Spices:</strong></p>
	 		<% @spices.each do |o| %>
		  			<%file = image_tag(o+".png",:height=>32)%>
		  			<span style="font-size:10px;"><%=o%></span>
	 		 		<input name="name[]" class="<%=o%>" type="checkbox" value="<%=o%>" onclick="$(this).submit();" />
	 		 
	 		<%end%>

	 		<hr>
	 		<% @misc.each do |o| %>
	 			<div style="display:inline-block">
		  			<%file = image_tag(o+".png",:height=>32)%>
		  			<%=file%>
	 		 		<input name="name[]" class="<%=o%>" type="checkbox" value="<%=o%>" onclick="$(this).submit();" />
	 		 		<p style="padding-left:7%;font-size:10px;"><%=o%></p>
	 		 	</div>
	 		<%end%>
	 		<hr>
			<% @options.each do |o| %>
					<span style="font-size:10px;"><%=o%></span>
	 		 		<input name="options[]" class="<%=o%>" type="checkbox" value="<%=o%>"  onclick="$(this).submit();"/>
	 		<%end%>
	 		

	 		<br>
		  <% submit_tag("Find Me Recipes", class:"btn btn-success") %>
		<% end %>
	</div>
</div>