<!--<hr>-->

<%if current_user.id==recipe.owner_id%>
	<%puts "something"%>
	<%=link_to "Edit", edit_recipe_path(recipe), class: "edit"%>
	<%=link_to "Delete", recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete"%>
<%end%>
<div style="text-align:center">
	<h2 style="text-align:center">
				 
	  <%= recipe.name %>
	</h2>
	 <div class="feedsContainer">
	  <h5 class="header" style="display:inline-block;">Feeds:</h5>
	  	<p>
	  		<%= recipe.feeds %>
		</p>
	</div>
	 <div class="timeContainer">
	  <h5 class="header" >Time:</h5>
	  	<p>
	  		<%= recipe.time %> Minutes
		</p>
	</div>

	<div class="costContainer" >

	  <h5 class="header">Cost:</h5>
	  <p>
	  	<%= recipe.cost %>
		</p>
	</div>


	<div class="skillContainer">


	  <h5 class="header">Skill Level:</h5>
	  <p>
	  <%= recipe.skill %>
	</p>
	</div>


</div>

<p id="general_pads" style="text-align:center">
  <strong class="header">Culture:</strong>
  <%= recipe.culture %>
</p>


<div class="ingredientContainer">
	<h5 class="header">Ingredients:</h5>
  	<ol>
	  <%recipe.ingredients.each do |ingredient| %>
	  	<li>
	  		<%=ingredient.quantity%>
	  		<%=ingredient.quantity_description%> of 
	  		<%=ingredient.name%> 
	  		<%=ingredient.description%>
	  	</li>
	  <%end%>
	</ol>
</div>

<div class="stepContainer">
  <h5 class="header">Steps:</h5>
  <ol>
  <%recipe.steps.each do |step| %>
  	<li><%=step.description%></li>
  <%end%>
 </ol>
</div>
<div id="general_pads" style="text-align:center">
	<strong class="header">Dietary Considerations:</strong>
	<p>
	  <%= recipe.options %>
	</p>
</div>
<hr>
<div class ="sourceContainer">
	 <%= recipe.source %>
   <!-- <%= recipe.owner_id %> this was a test -->
</div>
<%if current_user.fav_recipes%>
	<%if current_user.fav_recipes.include? recipe.id.to_s %>
		<%=link_to image_tag("Star_black.png"), edit_favorites_path(:id=>recipe.id)%>
	<%else%>
		<%=link_to image_tag("Star_white.png"), edit_favorites_path(:id=>recipe.id)%>
	<%end%>
<%else%>
	<%=link_to image_tag("Star_white.png"), edit_favorites_path(:id=>recipe.id)%>
<%end%>