<%= javascript_include_tag "application" %>	
<% if @recipes.size ==0%>
	<h1>Sorry no recipes meet these parameters. Please Try Again</h1>
<%end%>
<div id="message" style="display:none">
	No more recipes fit this description
</div>
<div id="recipe">
	<%=link_to "query", query_path(:name=>["Chicken", "Brocolli", "Salt"])%>
	<%count = 1%>
	<% @recipes.each do |recipe| %>
		<div id="recipe_<%=count%>" class="recipes"<%if count!= 1%>style="display:none"<%end%>>
			<p>
			  <strong>Name</strong>
			  <%= recipe.name %>
			</p>
			 
			<p>
			  <strong>Feeds:</strong>
			  <%= recipe.feeds %>
			</p>

			<p>
			  <strong>Time:</strong>
			  <%= recipe.time %>
			</p>

			<p>
			  <strong>Cost</strong>
			  <%= recipe.cost %>
			</p>

			<p>
			  <strong>Skill</strong>
			  <%= recipe.skill %>
			</p>

			<p>
			  <strong>Culture</strong>
			  <%= recipe.culture %>
			</p>

			<p>
			  <strong>Option</strong>
			  <%= recipe.options %>
			</p>

			<p>
			  <strong>Steps:</strong>

			  <%recipe.steps.each do |step| %>
			  	<%=step.description%><br>
			  <%end%>
			</p>
			<p>
			  <strong>Ingredients:</strong>

			  <%recipe.ingredients.each do |ingredient| %>
			  	<%=ingredient.name%><br>
			  <%end%>
			</p>
		</div>
		<%count += 1%>
	<%end%>
</div>
<button id="prev" onclick="moveDown()">prev</button>
<button id="next" onclick="moveUp()">next</button>

<script>
	$(document).ready('ready()');
</script>



