<%=stylesheet_link_tag "home"%>

<div id="middle_align">
	<h3> <%=image_tag("Plate.png", :class=>"img_right")%> Around the Table is a Tool to Save and Search Recipes from Around The World</h3>
	<hr>
	<h3 style="background-color: rgba(22, 160, 133, 0.34);padding: 20px;border-radius: 20px;"><%=image_tag("Recipe.png", :class=>"img_left",:height=>64)%>Use Around the Table to store your recipes</h3><hr>
	<h3>Find new recipes that suit your present mood or combine what's currently in your pantry<%=image_tag("Search.png", :class=>"img_right", :height=>64)%></h3><hr>
	<h3 Style="background-color: rgba(22, 160, 133, 0.34);padding: 20px;border-radius: 20px;"> <%=image_tag("Star_white.png", :class=>"img_left")%> Use the star icon to save your favorite recipes for viewing at a later date </h3><hr>

	<%=image_tag("Planet.png")%><h3>Take A Journey Around The World With Recipes From Around The Table</h3>

	<FORM METHOD="LINK" ACTION="users/sign_up">
	<INPUT TYPE="submit" VALUE="Get Started" class="btn btn-block btn-lg btn-inverse">
	</FORM>


</div>

