
<%=stylesheet_link_tag "recipes"%>
<h1>Welcome</h1>

<div id="main">
	
<%=yield%>



<div id="options">
	<%= form_tag(controller: "recipes", action: "form", method: "psot") do%>
	  <% @meat.each do |o| %>
	  			<%file = image_tag(o+".png")%>
 		 		<input name="name[]" class="<%=o%>" type="checkbox" value="<%=o%>" /> <%=file%>
 		<%end%>
 		<br>
	  <%= submit_tag("Find Me Recipes", class:"btn btn-success") %>
	<% end %>
</div>
</div>